{% extends 'Default/main.html.twig' %}
{#{% use 'Default/locationsBlockForm.html.twig' %}#}
{% use 'Default/locationsAddresAutocompleteForm.html.twig' %}
{% block title 'Account Edit'%}
    {% block content %}
        <div class="row numpad">
            <div class="col-lg-12">
                <h1>Account Edit</h1>
                <ol class="breadcrumb">
                    <li><a href="{{path('adspace_dashboard')}}"><i class="fa fa-home"></i> Panel</a></li>
                    <li><a href="{{path('adpoint_accounts')}}"><i class="fa fa-list"></i> Lista De Cuentas</a></li>
                    <li class="active"><i class="icon-file-alt"></i> Editar Cuenta</li>
                </ol>
                {% include 'Default/messageNotification.html.twig'%}
            </div>

            <div class="col-lg-12">
                <form action="{{path('adpoint_account_update', {'id':entity.id})}}" method="POST">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Nombre Completo Del Cliente</label><em>*</em>
                            {{form_widget(form.acContactName,{ 'attr': {'class': 'form-control','placeholder':'Nombre Del Cliente', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.acContactName)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre De Cuenta</label><em>*</em>
                            {{form_widget(form.acName,{ 'attr': {'class': 'form-control','placeholder':'Nombre De Cuenta', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.acName)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Correo Del Cliente</label><em>*</em>
                            {{form_widget(form.acEmail,{ 'attr': {'class': 'form-control','placeholder':'you@mailer.com', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.acEmail)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Numero Telefonico Del Cliente</label><em>*</em>
                            {{form_widget(form.acPhoneNumber,{ 'attr': {'class': 'form-control phone_number','placeholder':'(000) 000-0000', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.acPhoneNumber)}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Piso/Local</label>
                            {{form_widget(form.acSuitPoBox,{ 'attr': {'class': 'form-control', 'placeholder':'Piso/Local', 'maxlength':'50'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.acSuitPoBox)}}
                            </div>
                        </div>
                        {#<div class="form-group">
                            <label>Address</label><em>*</em>
                            {{form_widget(form.acAddress,{ 'attr': {'class': 'form-control','placeholder':'Address', 'maxlength':'100'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.acAddress)}}
                            </div>
                        </div>
                        {% block locationsBlock %}
                            {{parent()}}
                        {% endblock %}#}
                        {% block autocompAddressBlock %}
                            {{parent()}}
                        {% endblock %}
                    </div>
                    {{form_widget(form._token)}}

                    <div class="form-group" style="margin-top: 30px;">
                        <button class="btn btn-primary pull-right save-btn" type="button" onclick="submit()">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}

    {% block locationsScriptBlock %}
        {{parent()}}
    {% endblock %}
