<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/ico" href="{{ asset('/images/favicon.png ')}}" />
        <title>Secure Area | AdSpace Cloud</title>

        {% block head_style %}

            <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/sb-admin.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/morris-0.4.3.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/styleLogin.css') }}">

        {% endblock %}

    </head>
    <body>
        <div class="container-fluid">
            <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top headCustomer">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div id="adspheaderdiv" class="navbar-header" style="width: 100%">
                    <a href="javascript:void(0);">
                        <figure class="logotype pull-left"><img alt="level" src="{{asset('/images/logoAdSpaceCloud.png')}}"></figure>
                    </a>
                    <h1 class="newtitleh1 pull-left">AdSpace Cloud</h1>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling --><!-- /.navbar-collapse -->
            </nav>
            <div class="row-fluid" style="margin-top: 10%;">
                <div style="margin: 10%  auto;" class="well lgbmk">
                    <form role="form" action="{{ path('adspace_login_check') }}" method="post" id="form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {%if (msgTryOgain is defined and msgTryOgain != '')%}
                            <span style="font-size: 15px; color: green; margin-bottom: 8px;">
                                {{msgTryOgain}}
                            </span>
                        {%endif%}
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" id="username" placeholder="User Name" name="_username" autocomplete="off" class="form-control" {%if last_username is defined%}value="{{last_username}}"{%endif%} maxlength="10">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" id="password" type="Password"  name="_password" placeholder="Password" autocomplete="off">
                        </div>
                        {% if error is defined and error is not empty %}                                                
                            <div style="font-size: 16px; color: #FF0000; margin-bottom: 8px;">
                                <img alt="" src="{{ asset('/images/alert.png') }}" width="24" height="24"/>
                                User Name or Password Invalid
                            </div> 
                        {% elseif msg is defined and msg is not empty %}
                            <div style="font-size: 16px; color: #FF0000; margin-bottom: 8px;">
                                <img alt="" src="{{ asset('/images/alert.png') }}" width="24" height="24"/>
                                {{ msg | title }}
                            </div> 
                        {% endif %}

                        <div>
                            <button id="btn-login" class="btn btn-primary btn-lg" type="submit">Sign in</button>
                            {#<a target="_blank" class="nlblk" style="margin-left: 15px; font-size: 12px " href="{{path('bmak_company_auction_forgot_code_pass', {'forgotCode':1})}}">Forgot Your User Name or Password?</a>#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- JavaScript -->
        {% block javascripts %}
            <script src="{{ asset('/js/jquery-1.10.2.min.js') }}"></script>
            <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
        {% endblock javascripts %}
        <script type="text/javascript">

            var name = '';
            var pass = '';

            $('#btn-login').click(function (e) {
                e.preventDefault();

                name = $('#username').val();
                pass = $('#password').val();

                if (name != "" && pass != "") {
                    var model = '';

            {% if (sessionValue is defined and sessionValue >= 1) %}
                            model = "{{sessionValue+1}}";
            {% else %}
                            model = 1;
            {% endif %}

                            $.ajax({
                                type: 'POST',
                                cache: false,
                                url: "{{path('adspace_session_by_login')}}",
                                data: 'model=' + model,
                                dataType: 'JSON',
                                success: function (r) {
                                    if (r.result == '__OK__') {
                                        checkSubm();
                                    }
                                },
                                error: function () {

                                }
                            });
                        }
                    });

                    function checkSubm() {
                        name = $('#username').val();
                        pass = $('#password').val();

                        if (name != "" && pass != "") {
                            $('#form').submit();
                        }
                    }
        </script>
    </body>
</html>