<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/ico" href="{{ asset('/images/favicon.png ')}}" />
        <title>{% block title %}Dashboard{% endblock %} | {{'LEVELLicensor'}}</title>
        {#    <link href="{{ asset('/css/load-css-screen.css')}}" rel="stylesheet" type="text/css" />#}
        {% block head_style %}

            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap-datetimepicker.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap2-toggle.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/sb-admin.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/jquery.fancybox.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/select2.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/jquery-ui.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/blur.svg') }}">

        {% endblock %}
        {% block other_styles %}
        {% endblock %}

        {% set arrayModules = false %}
        {% if app.session is defined and app.session.get('activeModules') is not empty %}
            {% set arrayModules = true %}
        {% endif %}
        <style>
            body{
                background-color: #fff;
            }
            .error{
                border-color: #f05;
            }
        </style>
    </head>

    <body style="height: 100%;">
        <div class="imgblur"></div>
        <div id="wrapper" style="height: 100%">
            <div class="navbar-nav side-nav hidePanelLeft" id="tooglePanelLeft" title="Hide">&nbsp;</div>
            <!-- Sidebar -->
            {% if isFancy is not defined %}
                <nav class="navbar navbar-inverse navbar-fixed-top headCustomer" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    {% include 'Default/header.html.twig' %}

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div id="adspheaderdivX2" class="menuScroll collapse navbar-collapse navbar-ex1-collapse">
                        {% include 'Default/panelLeft.html.twig' %}
                        {% include 'Default/panelTop.html.twig' %}
                    </div><!-- /.navbar-collapse -->
                </nav>
            {% endif %}

            {% if isFancy is defined %}
                <h1 style="margin-left: 20px; margin-top: -10px; margin-bottom: 15px;">Add/Extend Device License</h1>
            {% endif %}

            <div id="page-wrapper" style="height: 100%">
                {% block content %}

                {% endblock content %}
            </div><!-- /#page-wrapper -->

        </div><!-- /#wrapper -->

        <!-- JavaScript -->
        {% block javascripts %}

            <script src="{{ asset('/js/jquery-1.12.2.min.js') }}"></script>
            <script src="{{ asset('/js/moment.min.js') }}"></script>
            <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('/js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('/js/bootstrap-toggle.min.js') }}"></script>
            <script src="{{ asset('/js/scripts.js') }}"></script>
            <script src="{{ asset('/js/jquery.fancybox.js') }}"></script>
            <script src="{{ asset('/js/jquery-ui.js') }}"></script>
            <script src="{{ asset('/js/jquery.maskedinput.js') }}"></script>
            <script src="{{ asset('/js/jquery.numberFormat.js') }}"></script>
            <script src="{{ asset('/js/jquery.number.min.js') }}"></script>
            <script src="{{ asset('/js/select2.min.js') }}"></script>
            <script src="{{ asset('/js/bootbox.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('/js/webshim/minified/extras/modernizr-custom.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/js/webshim/minified/polyfiller.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/js/webshim/minified/shims/form-validation.js') }}"></script>

        {% endblock javascripts %}

        <script type="text/javascript">
            var widthOriginal = parseInt($("#panelLeft").width());
            var intervalNoDb = null;
            $(document).ready(function() {
                /*
                 * funcionalidad JS para retornar la fecha actual en string
                 * y utulizarla por el datapicker para el minDate
                 * @returns {String} fecha en formato yyyy-mm-dd incluido los guiones
                 */
                Date.prototype.yyyymmdd = function() {
                    var yyyy = this.getFullYear().toString();
                    var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based
                    var dd = this.getDate().toString();
                    return yyyy + "-" + (mm[1] ? mm : "0" + mm[0]) + "-" + (dd[1] ? dd : "0" + dd[0]); // padding
                };

            {#$('.js-datepicker').datepicker({
                pickTime: true
            });#}

                    var today = new Date();
                    $(".datetimepicker").datetimepicker({
                        pickTime: false
                    });
                    $(".datetimepicker-mindate").datetimepicker({
                        pickTime: false,
                        minDate: today.yyyymmdd()
                    });
                    $(".datetimepicker-maxdate").datetimepicker({
                        pickTime: false,
                        maxDate: today.yyyymmdd()
                    });

                    $(".datetimepickerHM").datetimepicker({
                        pickTime: true,
                        minDate: today.yyyymmdd()
                    });

                    $.webshims.polyfill('forms');
                    $('html').removeAttr('class');

                    $.extend({
                        password: function(length, special) {
                            var iteration = 0;
                            var password = "";
                            var randomNumber;
                            if (special == undefined) {
                                var special = false;
                            }
                            while (iteration < length) {
                                randomNumber = (Math.floor((Math.random() * 100)) % 94) + 33;
                                if (!special) {
                                    if ((randomNumber >= 33) && (randomNumber <= 47)) {
                                        continue;
                                    }
                                    if ((randomNumber >= 58) && (randomNumber <= 64)) {
                                        continue;
                                    }
                                    if ((randomNumber >= 91) && (randomNumber <= 96)) {
                                        continue;
                                    }
                                    if ((randomNumber >= 123) && (randomNumber <= 126)) {
                                        continue;
                                    }
                                }
                                iteration++;
                                password += String.fromCharCode(randomNumber);
                            }
                            password = password.replace("0", "A");
                            password = password.replace("o", "A");
                            password = password.replace("O", "A");
                            return password;
                        }
                    });

                    $('.fancybox').fancybox();

                    /*Codigo para mostrar y ocultar el menu lateral*/
                    $("#tooglePanelLeft").click(function() {
                        width = parseInt($("#panelLeft").width());
                        if (width > 0) {
                            $("#panelLeft").animate({"width": "0px"}, "slow");
                            $("#tooglePanelLeft").removeClass('hidePanelLeft');
                            $("#tooglePanelLeft").addClass('showPanelLeft');
                            $("#wrapper").animate({"padding-left": "0px"}, "slow");
                            $("#tooglePanelLeft").attr('title', 'Show');
                        } else {
                            $("#panelLeft").animate({"width": widthOriginal + "px"}, "slow");
                            $("#tooglePanelLeft").removeClass('showPanelLeft');
                            $("#tooglePanelLeft").addClass('hidePanelLeft');
                            $("#wrapper").animate({"padding-left": widthOriginal + "px"}, "slow");
                            $("#tooglePanelLeft").attr('title', 'Hide');
                        }
                    });

                    /**
                     * Comas para todos los campos numericos
                     */
                    $(document).on("keyup", '.input_number', function() {
                        var val = $(this).val();
                        val = val.replace(/[\D]+/g, "");
                        val = val.replace(/$0+/g, "");

                        if (val.length > 0) {
                            $(this).val($.number(val));
                        }
                    });

                    /**
                     * Comas para todos los campos numericos
                     */
                    $('.version_name').keyup(function() {
                        var data = $(this).val();
                        var regx = /^\d{1,3}\.\d{1,3}\.\d{1,3}$/;

                        if (data !== '' && !data.match(regx)) {
                            $('.amt_err')
                                    .text('Only Matching Formtat Example ###.###.### Acepted!')
                                    .fadeIn('fast');
                        } else {
                            $('.amt_err').fadeOut('slow');
                        }
                    });

                    /**
                     * Comas para todos los campos numericos
                     */
                    $('.version_name').blur(function() {
                        var data = $(this).val();
                        var regx = /^\d{1,3}\.\d{1,3}\.\d{1,3}$/;

                        console.log(data + ' patt:' + data.match(regx));

                        if (data !== '' && !data.match(regx)) {
                            $(this).val('');
                        }
                    });

                    /*Formato para los numeros de celulares*/
                    $(function($) {
                        $(".phone_number").mask("(999) 999-9999", {placeholder: " "});
                    });

                    /*Formato para los zip codes*/
                    $(function($) {
                        $(".zip_code").mask("?99999", {placeholder: ""});
                    });

                    $('.upper-case').keyup(function() {
                        var text = $(this).val();
                        text = text.toUpperCase();

                        $(this).val(text);
                    });

                    $('.lower-case').keyup(function() {
                        var text = $(this).val();
                        text = text.toLowerCase();

                        $(this).val(text);
                    });

                    $('.title-case').keyup(function() {
                        var text = $(this).val();
                        text = text.replace(/\w\S*/g, function(txt) {
                            return txt.charAt(0).toUpperCase() + txt.substr(1);
                        });
                        $(this).val(text);
                    });

                    /*Efecto sobre el boton de busqueda*/
                    $(".search-btn").click(function() {
                        $(this).html('Searching..');
                    });

                    /*Efecto sobre el boton de guardar cambios, crear objetos*/
                    $(".form").submit(function() {
                        $(".save-btn").html('Saving Changes..');
                        $(".continue-btn").html('Saving..');
                        $(".send-btn").html('Sending..');
                        $(".add-btn").html('Adding..');
                    });

                    /*$("input:text:visible:first").focus();*/
                    $("#tooglePanelLeft").trigger('click');

                    /**
                     * funcion para validar que no queden espacion en los campos license number
                     */
                    var textAnterior = '';
                    var firstClick = true;
                    $('.noEspacios').focusin(function(e) {
                        if (firstClick == true) {
                            textAnterior = $(this).val();
                            firstClick = false;
                        }
                    });

                    $('.noEspacios').keyup(function(e) {

                        var er = new RegExp(/\s/);
                        var text = $(this).val();

                        if (er.test(text)) {
                            $(this).val(textAnterior);
                        } else {
                            $(this).val(text);
                            textAnterior = text;
                        }
                    });

                    /**
                     * el onblur de los campos requeridos
                     * input, select y textarea
                     */
                    $("input[required=required], select[required=required], textarea[required=required]").blur(function() {
                        if ($(this).val() == "") {
                            $(this).addClass("error");
                        } else {
                            $(this).removeClass("error");
                        }
                    });

                    $('.number_format_decimal').number(true, 1);

                    /**
                     * Analizar si hay  campos requeridos
                     */
                    $("button[type=submit]").click(function() {
                        empty_fields = 0; /*variable que controla ajax al crear licencia*/
                        $("input[required=required], select[required=required], textarea[required=required]").not(".error").each(function() {
            {#                            console.log(' -> '+$(this).val());#}
                            if ($(this).val() == "") {
                                $(this).addClass("error");
                            }
                        });

                        if ($(".error").length > 0) {
                            bootbox.alert("There are empty fields required");
                            empty_fields = 1;
                            return;
                        }
                    });

            {% block scripts %}
            {% endblock %}

            {% block functionsAutoCompListener %}
            {% endblock %}
                });
            {% block jsfunctions %}
            {% endblock %}
                $('#menuCollapse').click(function() {
                    var windowHgt = $(window).innerHeight() - 20;
                    var hgtPanel = windowHgt - $("[role=navigation]").height();
                    $(".menuScroll").css(
                            {
                                overflowY: "auto",
                                maxHeight: hgtPanel,
                                minHeight: hgtPanel
                            }
                    )
                });

                /**
                 * Esta funcion permite validar que solo se escriban numeros en un campo de texto
                 */
                function onlyNumbers(e) {
                    var key;
                    if (window.event) {
                        key = window.event.keyCode;   /*IE*/
                    } else {
                        key = e.which;                /*firefox*/
                    }
                    /*console.log(key);*/
                    if (((key >= 48 && key <= 57) || key == 8 || key == 9 || key == 0 || key == 46)) {
                        return true;
                    } else {
                        return false;
                    }
                }

                function testDigit(obj, evn) {
                    var lng = $(obj).attr("maxlength");
                    var arrAscii = new Array();
                    var txtAscii = "[]";
                    var numAcepted = [0, 9, 27];
                    var key;

                    if (!(lng > 0)) {
                        lng = 10;
                    }
                    if ($(obj).attr("arr-ascii")) {
                        txtAscii = $(obj).attr("arr-ascii");
                    }
                    arrAscii = $.parseJSON(txtAscii);

                    if (window.event) {
                        key = window.event.keyCode;   /*IE*/
                    } else {
                        key = evn.which;
                    }

                    if (arrAscii != null && $.isArray(arrAscii)) {
                        numAcepted = numAcepted.concat(arrAscii);
                    }

                    if (numAcepted.indexOf(key) >= 0) {
                        return true;
                    }
                    key = (String.fromCharCode(key));
                    var arrResult = new Array();
                    arrResult.push(key);
                    if (/[\b]/.test(key)) {
                        arrResult[0] = -1;
                    }
                    if (/[\d\b]/.test(key)) {
                        arrResult.push(true);
                    } else {
                        arrResult.push(false);
                    }

                    if ($(obj).val().length == lng) {
                        if (arrResult[0] == -1) {
                            return true;
                        }
                        return false;
                    }

                    return arrResult[1];
                }
                /**
                 * esta funcion permite restarle 1 al paginador cuando eliminan una subasta
                 */
                function decreaseShowingItems() {

                    $(".itemsShowing").each(function() {
                        var item = $(this);
                        var numberItems = parseInt(item.html());
                        item.html(numberItems - 1);
                    });
                }

                /**
                 * Number.prototype.format(n, x)
                 *
                 * @param integer n: length of decimal
                 * @param integer x: length of sections
                 */
                Number.prototype.format = function(n, x) {
                    var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
                    return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
                };

                /**
                 *  1234..format();            "1,234"
                 *  12345..format(2);          "12,345.00"
                 *  123456.7.format(3, 2);     "12,34,56.700"
                 *  123456.789.format(2, 4);   "12,3456.79"
                 */
                function number_format(number, decimals, dec_point, thousands_sep) {
                    /*
                     example 1: number_format(1234.56);
                     returns 1: '1,235'
                     example 2: number_format(1234.56, 2, ',', ' ');
                     returns 2: '1 234,56'
                     example 3: number_format(1234.5678, 2, '.', '');
                     returns 3: '1234.57'
                     example 4: number_format(67, 2, ',', '.');
                     returns 4: '67,00'
                     example 5: number_format(1000);
                     returns 5: '1,000'
                     example 6: number_format(67.311, 2);
                     returns 6: '67.31'
                     example 7: number_format(1000.55, 1);
                     returns 7: '1,000.6'
                     example 8: number_format(67000, 5, ',', '.');
                     returns 8: '67.000,00000'
                     example 9: number_format(0.9, 0);
                     returns 9: '1'
                     example 10: number_format('1.20', 2);
                     returns 10: '1.20'
                     example 11: number_format('1.20', 4);
                     returns 11: '1.2000'
                     example 12: number_format('1.2000', 3);
                     returns 12: '1.200'
                     example 13: number_format('1 000,50', 2, '.', ' ');
                     returns 13: '100 050.00'
                     example 14: number_format(1e-8, 8, '.', '');
                     returns 14: '0.00000001'
                     */

                    number = (number + '')
                            .replace(/[^0-9+\-Ee.]/g, '');
                    var n = !isFinite(+number) ? 0 : +number,
                            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                            s = '',
                            toFixedFix = function(n, prec) {
                                var k = Math.pow(10, prec);
                                return '' + (Math.round(n * k) / k)
                                        .toFixed(prec);
                            };
                    /* Fix for IE parseFloat(0.55).toFixed(0) = 0;*/
                    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n))
                            .split('.');
                    if (s[0].length > 3) {
                        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                    }
                    if ((s[1] || '')
                            .length < prec) {
                        s[1] = s[1] || '';
                        s[1] += new Array(prec - s[1].length + 1)
                                .join('0');
                    }
                    return s.join(dec);
                }
                var hasSession = true;
                function getCurrentStatusSession() {
                    $.ajax({
                        url: "{{ path('adspace_get_session') }}",
                        type: "post",
                        data: {},
                        dataType: "json",
                        async: false,
                        success: function(data) {
                            if (data.msn == "__KO__") {
                                return hasSession;
                            }
                            if (data.status === false) {
                                hasSession = false;
                            }
                        }
                    });
                    return hasSession;
                }



            {% block functions_javascript %}
            {% endblock %}

            {% block functionsAutoAddress %}
            {% endblock %}

        </script>
        {% block functionsAutocompAddress %}
        {% endblock %}
    </body>
</html>
