{% extends 'Default/main.html.twig' %}
{#{% use 'Default/locationsBlockForm.html.twig' %}#}
{% use 'Default/locationsAddresAutocompleteForm.html.twig' %}
{% block title 'License Edit'%}
    {% block content %}
        <div class="row numpad">
            <div class="col-lg-12">
                <h1>Editar Punto De Publicidad</h1>
                <ol class="breadcrumb">
                    <li><a href="{{path('adspace_dashboard')}}"><i class="fa fa-home"></i> Panel</a></li>
                    <li><a href="{{path('adpoint_accounts')}}"><i class="fa fa-list"></i> Lista De Cuentas</a></li>
                    <li><a href="{{path('adpoint_points_list', { 'accountId': entity.alAccountLicense.id })}}"><i class="fa fa-list"></i> Lista Puntos De Publicidad</a></li>
                    <li class="active"><i class="icon-file-alt"></i> Editar Punto De Publicidad</li>
                </ol>
                {% include 'Default/messageNotification.html.twig'%}
            </div>

            <div class="col-lg-12" >
                <form action="{{path('adpoint_point_update', {'id': entity.id})}}" method="POST">
                    <div class="form-group col-xs-12">
                        <label>Edit License For </label>
                        <label>{{ entity.AlAccountLicense|title }}</label>
                    </div>

                    <div class="col-xs-6">

                        {% if entity.AlAccountLicense is defined and entity.AlAccountLicense is not empty %}
                            <input type="hidden" value="{{ entity.AlAccountLicense.id }}"
                                   name="levellicensor_levellicensorbundle_accountlicense[alAccountLicense]" />
                        {% else %}
                            <div class="form-group">
                                <div class="help-block alert-danger">
                                    {{form_errors(form.alAccountLicense)}}
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label>License Contact Name</label><em>*</em>
                            {{form_widget(form.alContacName,{ 'attr': {'class': 'form-control','placeholder':'Contact Name', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.alContacName)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Restaurant Name</label><em>*</em>
                            {{form_widget(form.alRestaurantName,{ 'attr': {'class': 'form-control','placeholder':'Restaurant Name', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.alRestaurantName)}}
                            </div>
                        </div>
                        {#</div>

                        <div class="col-xs-6">#}
                        <div class="form-group">
                            <label>Contact E-Mail</label><em>*</em>
                            {{form_widget(form.alLicenseEmail,{ 'attr': {'class': 'form-control','placeholder':'contact@mailer.com', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.alLicenseEmail)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Numero Telefonico</label><em>*</em>
                            {{form_widget(form.alPhoneNumber,{ 'attr': {'class': 'form-control phone_number','placeholder':'(000) 000-0000', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.alPhoneNumber)}}
                            </div>
                        </div>
                        {# <div style="display: inline-block; width: 100%; margin-bottom: 2%; margin-top: 4%;" >
                            <div style="display: inline-block; width: 45%;" id="lightDivX">
                                <label style="margin-right: 2%">Is LEVEL Lite License?  </label>
                                {{form_widget(form.isLevelLight,{ 'attr': {'class':'megaPopX', 'data-toggle':'toggle','data-on':'Yes','data-off':'No','data-onstyle':'primary','data-offstyle':'default'} })}}
                                <div class="help-block alert-danger">
                                    {{form_errors(form.isLevelLight)}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="isCallCenter" style="margin-top: 5%; {% if entity.city.ciState.stCountry.coVal != 'CO' %}display: none;{% endif %}">
                            <label style="margin-right: 2%">Is Call Center?  </label>
                            {{form_widget(form.isCallCenter,{ 'attr': {'data-toggle':'toggle','data-on':'Yes','data-off':'No','data-onstyle':'primary','data-offstyle':'default'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.isCallCenter)}}
                            </div>
                        </div>

                        <div id="regularLicenseDiv">
                            <div class="form-group" style="margin-top: 5%;">
                                <label style="margin-right: 2%">License Without Expiration?  </label>
                                {{form_widget(form.isPlusLicense,{ 'attr': {'data-toggle':'toggle','data-on':'Yes','data-off':'No','data-onstyle':'primary','data-offstyle':'default'} })}}
                                <div class="help-block alert-danger">
                                    {{form_errors(form.isPlusLicense)}}
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 5%;">
                             {% if entity.levelZeroPercentage < 1 and entity.levelZeroGatewayPercentage < 1 %}
                                {% set porcentualZero =  entity.levelZeroPercentage * 100 %}
                                {% set porcentualGatewayZero =  entity.levelZeroGatewayPercentage * 100 %}
                            {% else %}
                                {% set porcentualZero =  entity.levelZeroPercentage %}
                                {% set porcentualGatewayZero =  entity.levelZeroGatewayPercentage %}
                            {% endif %}

                            {% set porcentualZero =  entity.levelZeroPercentage * 100 %}
                            {% set porcentualGatewayZero =  entity.levelZeroGatewayPercentage * 100 %}

                                <div style="display: inline-block; width: 100%; margin-bottom: 2%;" >
                                    <div style="display: inline-block; width: 45%;" id="zeroDiv">
                                        <label style="margin-right: 2%">License With LEVEL Zero?  </label>
                                        {{form_widget(form.hasLevelZero,{ 'attr': {'class':'megaPop', 'data-toggle':'toggle','data-on':'Yes','data-off':'No','data-onstyle':'primary','data-offstyle':'default'} })}}
                                        <div class="help-block alert-danger">
                                            {{form_errors(form.hasLevelZero)}}
                                        </div>
                                    </div>
                                    <div style="display: inline-block; width: 53%;" id="notify_msg"></div>
                                </div>
                                <div id="zeroPercentage" style="display: inline-block; width: 46%;">
                                    <div id="falseDiv" style="display: none;">
                                        <div style="display: inline-block; width: 43%;"><label>LEVEL Zero %</label><em>*</em></div>
                                        <div style="display: inline-block; width: 45%;">{{ form_widget(form.levelZeroPercentage, { 'attr': {'class':'form-control is-digit', 'typeLevel':'0', 'maxlength':'4', 'min':'1', 'max':'4', 'style': 'width: 58%;', 'placeholder':'0', 'value' : porcentualZero} }) }}
                                            <div class="help-block alert-danger">
                                                {{form_errors(form.levelZeroPercentage) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="zeroGatewayPercentage" style="display: inline-block; width: 52%;">
                                    <div id="falseDiv2" style="display: none;">
                                        <div style="display: inline-block; width: 62%;"><label>LEVEL Zero Gateway %</label><em>*</em></div>
                                        <div style="display: inline-block; width: 35%;">{{ form_widget(form.levelZeroGatewayPercentage, { 'attr': {'class':'form-control is-digit', 'typeLevel':'1', 'maxlength':'4', 'min':'1', 'max':'4', 'style': 'width: 58%;', 'placeholder':'0', 'value' : porcentualGatewayZero} }) }}
                                            <div class="help-block alert-danger">
                                                {{form_errors(form.levelZeroGatewayPercentage) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>#}
                    </div>


                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Suit Po Box</label>
                            {{form_widget(form.alSuitPoBox,{ 'attr': {'class': 'form-control','placeholder':'Suit PO Box', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.alSuitPoBox)}}
                            </div>
                        </div>
                        {#<div class="form-group">
                            <label>Address</label>
                            {{form_widget(form.alAddres,{ 'attr': {'class': 'form-control','placeholder':'Address', 'maxlength':'30'} })}}
                            <div class="help-block alert-danger">
                                {{form_errors(form.alAddres)}}
                            </div>
                        </div>

                        {% block locationsBlock %}
                            {{parent()}}
                        {% endblock %}#}

                        {% block autocompAddressBlock %}
                            {{parent()}}
                        {% endblock %}

                        {{form_widget(form._token)}}

                        <div class="form-group" style="margin-top: 30px;">
                            <button class="btn btn-primary pull-right save-btn" type="button" onclick="submit()">Save Changes</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    {% endblock %}

    {% block scripts %}

        {#        {% block locationsScriptBlock %}
                    {{parent()}}
                {% endblock %}#}

        $('#countryBlock').change(function() {
        if ($("#countryBlock option:selected").text() == 'Colombia') {
        $('#isCallCenter').fadeIn('slow');

        var isCallCenter = $('#levellicensor_levellicensorbundle_accountlicense_isCallCenter').is(':checked');
        } else {
        var isCallCenter = $('#levellicensor_levellicensorbundle_accountlicense_isCallCenter').is(':checked');
        if (isCallCenter == 'true' || isCallCenter == true) {
        $('.toggle .btn').click();
        }
        $('#isCallCenter').fadeOut('slow');
        }
        });

        var isLightSyncVal = $('#levellicensor_levellicensorbundle_accountlicense_isLevelLight').prop('checked');

        $('#lightDivX').on('click', '.toggle', function () {
        isLightSyncVal = $('#levellicensor_levellicensorbundle_accountlicense_isLevelLight').prop('checked');

        if (isLightSyncVal && !$('#regularLicenseDiv').is(':visible')) {
        $('#regularLicenseDiv').fadeIn("slow");
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroPercentage').attr('required', 'required');
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroGatewayPercentage').attr('required', 'required');
        $('#hdPrices_alCantDevices').attr('required', 'required');
        } else {
        if (!isLightSyncVal && $('#regularLicenseDiv').is(':visible')) {
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroPercentage').removeAttr('required');
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroGatewayPercentage').removeAttr('required');
        $('#hdPrices_alCantDevices').removeAttr('required');
        $('#regularLicenseDiv').fadeOut("slow");
        }
        }
        });

        $('#zeroDiv').on('click', '.toggle', function () {
        var autoSyncVal = $('#levellicensor_levellicensorbundle_accountlicense_hasLevelZero').prop('checked');

        if (!autoSyncVal && !$('#falseDiv').is(':visible')) {
        $('#falseDiv').fadeIn("slow");
        $('#falseDiv2').fadeIn("slow");
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroPercentage').attr('required', 'required');
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroGatewayPercentage').attr('required', 'required');
        } else {
        if (autoSyncVal && $('#falseDiv').is(':visible')) {
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroPercentage').removeAttr('required');
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroGatewayPercentage').removeAttr('required');
        $('#falseDiv').fadeOut("slow");
        $('#falseDiv2').fadeOut("slow");
        }
        }
        });

        $('.is-digit').on( 'input' ,function () {
        $(this).val( this.value.replace(/[^0-9.]/g,'') );
        });

        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroPercentage,#levellicensor_levellicensorbundle_accountlicense_levelZeroGatewayPercentage').on( 'change',function () {

        var valueLevelZero = $(this).val();

        if (isNaN(valueLevelZero) || valueLevelZero === null || valueLevelZero === undefined || valueLevelZero === '') {
        valueLevelZero = 0;
        }

        $(this).val(valueLevelZero);

        if ( valueLevelZero <= 4 ) {
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroGatewayPercentage').val(valueLevelZero);
        } else {
        $("#notify_msg").fadeIn("slow").text('Invalid value. Please select a value between 0 and 4!').css("color", "red");

        if ($(this).attr("typeLevel") == 0 ) {
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroPercentage').val(0);
        }
        $('#levellicensor_levellicensorbundle_accountlicense_levelZeroGatewayPercentage').val(0);

        var timeToClose = 0;
        setInterval(function() {
        timeToClose++;

        if(timeToClose == 2) {
        $("#notify_msg").fadeOut("slow");
        }
        },2000);
        };
        });

        {% if entity.isCallCenter == true %}
            $('.toggle .btn').click();
        {% endif %}

        {% if entity.hasLevelZero == true %}
            $('#falseDiv').fadeIn("slow");
            $('#falseDiv2').fadeIn("slow");
            $('#levellicensor_levellicensorbundle_accountlicense_levelZeroPercentage').attr('required', 'required');
            $('#levellicensor_levellicensorbundle_accountlicense_levelZeroGatewayPercentage').attr('required', 'required');
        {% endif %}

        {% if entity.isLevelLight == true %}
            $('#regularLicenseDiv').fadeOut("slow");
            $('#levellicensor_levellicensorbundle_accountlicense_levelZeroPercentage').removeAttr('required');
            $('#levellicensor_levellicensorbundle_accountlicense_levelZeroGatewayPercentage').removeAttr('required');
            $('#hdPrices_alCantDevices').removeAttr('required');
        {% endif %}

    {% endblock %}

    {% block functions_javascript %}

    {% endblock %}