{% extends 'Default/main.html.twig' %}
{% block title 'Send Custom Push Notification Message'%}
    {% block content %}
        <div class="row numpad">
            <div class="col-lg-12">
                <h1>Send APK Push Update</h1>
                <ol class="breadcrumb">
                    <li><a href="{{path('adspace_dashboard')}}"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li><a href="{{path('index_management')}}"><i class="fa fa-list"></i> Management Dashboard</a></li>
                    <li class="active"><i class="icon-file-alt"></i> Send Custom Push Notification Message</li>
                </ol>
                {% include 'Default/messageNotification.html.twig'%}
            </div>

            <div class="col-lg-12" >
                {{ form_start(form, {'action': path('save_and_enqueue_custom_push_notification'), 'method': 'post', 'attr': {'id': 'update_apk_push', 'class': 'form-horizontal'} }) }}
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Licenses To Notify</label><em>*</em>
                        {{form_widget(form.licenses,{ 'attr': {'class': 'form-control', 'style':'width: 70% !important;' ,'placeholder':'Search By Restaurant Name Or Nickname', 'maxlength':'20'} })}}
                        <div class="help-block alert-danger">
                            {{form_errors(form.licenses)}}     
                        </div>
                    </div>
                    <input id="theDs" name="theDs" type="hidden" value="{{theDs}}">
                    <div id="madreMia" style="margin-top: 0px; max-height: 350px;">
                    </div>
                    <div id="theDealers" style="display: block; margin-top: 10px; width: 68%; margin-bottom: 12px; height: auto;">
                        {% if licenses is defined %}
                            <label id="titleDs" style="{% if licenses is defined and licenses is not null %}display: block;{% else %}display: none;{% endif %}">The Selected Licenses<br><br></label>
                            <div id="selected_dealers" style="background-color: #F5F5F5; height: auto; max-height: 160px; overflow-y: auto;">
                            {% for license in licenses %}
                                <div style="width: 100%; max-height: 35px; margin-top: 1px; float: top;" id="thedeal_{{license.id}}" class="unDeal" data_d="{{license.alLicenseUsername}}"><label style="float: left; width: 92%;">{{license.alRestaurantName~' ('~license.alLicenseUsername~')'}}</label><img style="float: right; margin-top: 3px; cursor: pointer; margin-right: 2px;" onclick="javascript: eraseDeal({{license.id}});" src="{{ asset('/images/SmallCancel2.png') }}" width="16px" height="16px"/><br></div>
                            {% endfor %}
                            </div>
                        {% else %}
                            <label id="titleDs" style="">No Licenses Selected!<br><br></label>
                            <div id="selected_dealers" style="background-color: #F5F5F5; height: auto; max-height: 160px; overflow-y: auto;">
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Message Title</label><em>*</em>
                        {{form_widget(form.messageTitle,{ 'attr': {'class': 'form-control', 'style':'width: 70% !important;' ,'placeholder':'A title', 'maxlength':'30'} })}}
                        <div class="help-block alert-danger amt_err" style="width: 70% !important;">
                            {{form_errors(form.messageTitle)}}     
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Message Body</label><em>*</em>
                        {{form_widget(form.messageBody,{ 'attr': {'class': 'form-control', 'style':'width: 70% !important; height: 100px;' ,'placeholder':'A message', 'maxlength':'300'} })}}
                        <div class="help-block alert-danger">
                            {{form_errors(form.messageBody)}}     
                        </div>  
                    </div>
                </div>
                {{form_widget(form._token)}}
                <div class="col-md-12">
                    <div>
                        <button type="submit" id="theButton" class="btn btn-primary" style="float: right; margin-right: 10%">{{'Send Message'}}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>   
        </div>   
    {% endblock %}
    
    {% block scripts %} 

    $('#custom_push_message_messageTitle').click(function() {
        if($('.amt_err').is(':visible')) {
            $('.amt_err').fadeOut('slow');
        }
    });
    
    $('#custom_push_message_messageBody').click(function() {
        if($('.amt_err').is(':visible')) {
            $('.amt_err').fadeOut('slow');
        }
    });

    $('#custom_push_message_licenses').autocomplete({   
        source: '{{path('autocomplet_licenses_update_push_apk')}}',
        minLength: 1,
        appendTo: "#madreMia",
        select: function( event, ui ) {
            if(ui.item.label != 'Not Matched Results!') {
                var aux = ui.item.label;
                var id_aux = ui.item.id;
                var aux_label_id = '';
                string_dealers = aux+'<br>';

                string_dealers_post = $('#theDs').val();
                if(string_dealers_post == '') {
                    string_dealers_post = ',';
                }
                var bool_flag = isDeal(string_dealers_post,ui.item.id);

                if(bool_flag) {
                    string_dealers_post += id_aux+',';
                    $('#theDs').val(string_dealers_post);
                    $('#titleDs').css('display','block');
                    $('#titleDs').text('The Selected Licenses');
                    $('#titleDs').append('<br><br>');

                    var html = '<div style="width: 100%; max-height: 35px; margin-top: 1px; float: top;" id="thedeal_'+ui.item.id+'" class="unDeal" data_d="'+ui.item.value+'"><label style="float: left; width: 92%;">'+string_dealers+'</label><img style="float: right; margin-top: 3px; cursor: pointer; margin-right: 2px;" onclick="javascript: eraseDeal('+ui.item.id+');" src="{{ asset('/images/SmallCancel2.png') }}" width="16px" height="16px"/><br></div>';

                    $('#selected_dealers').append(html);

                    $('#theDealers').css('display','block');
                    event.preventDefault(); 
                    $(this).val('');  
                } else {
                    bootbox.alert('The selected license is already listed for this APK update!');
                    event.preventDefault(); 
                    $(this).val('');
                }
            } else {
                event.preventDefault();
                $(this).val('');
            }
        },
    });
 
{% endblock %}
    
{% block functions_javascript %}

    function eraseDeal(deal_id) {
        var d_name = $( '#thedeal_'+deal_id ).attr('data_d');
        bootbox.confirm('Are you sure to delete "'+d_name+'" from the licenses list on which this APK update would be sent?', function(result) {
            if(result == true) {
                var theDeals = $('#theDs').val();
                var res = theDeals.replace(''+deal_id,''+0);
                $('#theDs').val(res);

                $( '#thedeal_'+deal_id ).remove();

                var contains = $(".unDeal").is(':visible');

                if(!contains) {
                    $('#titleDs').text('No Licenses Selected!');
                }
            }        
        });
    }
    
    function isDeal(text,deal_id) {
        var string_id = ''+deal_id;
        
        if(text.indexOf(','+string_id+',') == -1) {
            return true;
        } else {
            return false;
        }
    }

    function showLoadingDialog(msg) {
        bootbox.hideAll();
        bootbox.dialog({
            message: '<p>' + msg + '</p><p style="margin-top: 10px; text-align: center; margin-bottom: -25px;"><i class="fa fa-spin fa-spinner" style="font-size:48px; margin-right: 5%"></i></p>',
            buttons: {
                success: {
                    label: "OK",
                    className: "btn-primary",
                    callback: function () {

                    }
                }
            }
        });
    }
    
{% endblock %}